.country-container {
    background-color:"background.paper" ;
    width: 100%;
    position: "relative";
    min-height: 200px;
    margin-top: 20px;
    justify-content: center;
    margin-bottom: -100px;

}
/* YourComponent.css */

.custom-tabs .MuiTabs-indicator {
    background-color: #05A1A1; /* Cambia esto al color deseado */
    color: #05A1A1;

}

.custom-tabs #country:focus {
    color: #05A1A1;

  }

  @media only screen and (max-width: 480px) {
    .country-container {
    margin-bottom: -160px;

    }
  }




