.country-container {
    background-color:"background.paper" ;
    width: 100%;
    position: "relative";
    min-height: 200px;
    margin-top: 50px;
    justify-content: center;
    margin-bottom: -180px;

}
/* YourComponent.css */

.custom-tabs .MuiTabs-indicator {
    background-color: #05A1A1; /* Cambia esto al color deseado */
    color: #05A1A1;

}


.custom-tabs #country:focus {
    color: #05A1A1;

  }

  @media only screen and (max-width: 480px) {
    .country-container {
    margin-bottom: -160px;

    }
  }

/* Estilo para las flechas del carrusel Splide */
/* En tu archivo index.scss */


/* Estilos de hover para los botones */

.splide__arrow {
  background-color: #05A1A1; /* Cambia a tu color deseado */
  color: #ffffff; /* Cambia a tu color deseado para el ícono */
  border-radius: 50%; /* Aplica un border-radius del 50% a las flechas si es necesario */
}

/* Estilos adicionales, como hover, se pueden agregar aquí */
.splide__arrow:hover {
  background-color: #05A1A1; /* Cambia a tu color deseado al pasar el cursor */
  /* Puedes ajustar otros estilos de hover aquí si es necesario */
}
.splide__pagination {
  display: none;
}
#flag-img {
  margin-left: 5px;
}

.flag-container {
  width: 30px; /* Ajusta el ancho deseado para el círculo */
  height: 30px; /* Ajusta la altura deseada para el círculo */
  border: 0.5px solid #979797; /* Borde negro de 2px */
  border-radius: 50%; /* Hace que el elemento sea circular */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; 
}

.flag-container img {
  max-width: 100%; /* Ajusta el ancho máximo de la imagen */
  max-height: 100%; /* Ajusta la altura máxima de la imagen */
  display: flex;
  justify-content: center;
  align-items: center;
  place-content: center;
  place-items: center;
}


.country-filter {
  display: grid;
  place-items: center;
  align-items: center;
  justify-content: center;
}
.country-filter:hover {
  color: #05A1A1;
  cursor: pointer;
}

.country-filter:focus {
  color: orange;

}

@media only screen and (max-width: 480px) {
  .country-filter {
    font-size: 10px;
  }
}
