.continent-container {
    display: flex;
    margin-top: 10px;
    img {
        width: 70px;
    }
    
    button {
        background-color: transparent;
        color: black;
        width: 100%;
    }

    button:hover {
        background-color: transparent;
    }

    button:focus {
        box-shadow: 0px 0px 10px black;
    }

.continent img {
 height: 60px;
 width: 60px;
}

}

@media only screen and (max-width: 480px) {
    .continent-container {
        display: none;
    }
}