.title {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

.btn-x {
text-align: end;
margin-right: 20px;
cursor: pointer;
}
.list-drawer {
    height: 100vh;
}
.img-container {
    margin-bottom: 50px;
}


.hover-image {
    cursor: pointer;
}


.drawer-details {
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    justify-content: center;
    gap: 10px;
}

.image-container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  .image-container-modal {
    position: relative;
    cursor: pointer;
    
  }
  
 

  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    z-index: 1;
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
  }
  
  .overlay img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Mantener la imagen centrada y proporcional */
  }
  .carrusel-container {
    max-width: 800px;
    max-height: 800px;

    overflow: hidden;
   }
  .close-button-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
  }


#skeleton1 {
  width: 370px;
  height: 535px;
  object-fit: cover;
  border-radius: 10px;
}

#skeleton2 {
height: 250px;
border-radius: 10px;
}

.btn-reserve {
  background-color: #05A1A1;
}

.btn-reserve:hover {
  background-color: #05A1A1;
}


@media only screen and (max-width: 480px) {
  #skeleton1 {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #skeleton1 {
    width: 750px;
    height: 420px;
  }
}





