.filter-container {
    display: flex;
    margin-top: 50px;
    height: 100vh;
    justify-content: center;


    .filter-type {
        color: white;
        background: linear-gradient(to top, #fff 50%, #05A1A1  50%); /* Cambia 'otro-color' al color que desees */
        border-radius: 10px;
        height: 650px;
        width: 450px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, .08), 0 4px 12px rgba(0, 0, 0, .05);
   

    }


    .slide {
        height: 70vh;
        width: 50%; /* Cambia esto a 25% para mostrar 2 elementos a la vez */
        display: flex;
        justify-content: center;
      }
      
      .splide-slide {
        display: flex;
        margin-right: 0; /* Evita espacios innecesarios entre las tarjetas */
      }
      

    .filter-type img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }

    .filter-type p {
        color: black;
    }
    .slide-card { 
        display: flex;
        gap: 50px;
    }

   
    .splide__arrow--prev,
    .splide__arrow--next {
      background-color: #05A1A1; /* Cambia a tu color deseado */
    }
    
    /* Cambia el color del icono de flecha (usualmente una fuente de iconos) */
    .splide__arrow::before {
      color: #ffffff; /* Cambia a tu color deseado */
    }
    


}

.search-formobile h2{
    text-align: center;
    margin-top: 50px;
  }

@media only screen and (max-width: 480px) {
    .filter-container {
        .filter-type {
            color: white;
            background-color: #05A1A1;
            border-radius: 10px;
            height: 250px;
            width: 250px;

        }
    

        .slide {
            display: flex;
            justify-content: center;
            width: 90%;


        }
        .slide-card { 
            gap: 10px;
        }

        .filter-type img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            display: block;
            margin: 0 auto;
        }
    }
};

/* @media only screen and (min-width: 1025px) and (max-width: 1728px) {
    .filter-container {
        .slide {
     
        }
    }
} */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .filter-container {
        .slide {
            height: 50vh;
            width: 68%;
            display: flex;
            justify-content: center;
        }
    }
}