.filter-container {
    display: flex;
    margin-top: 50px;
    height: 100vh;
    justify-content: center;


    .filter-type {
        color: white;
        background-color: #05A1A1;
        border-radius: 10px;
        height: 350px;
        width: 250px;

    }


    .slide {
        height: 50vh;
        width: 31%;
        display: flex;
        justify-content: center;
    }

    .filter-type img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }



}


@media only screen and (max-width: 480px) {
    .filter-container {
          .filter-type {
              color: white;
              background-color: #05A1A1;
              border-radius: 10px;
              height: 250px;
              width: 150px;
      
          }
          .slide {
              display: flex;
              justify-content: center;
              width: 90%;
              
  
          }
  
          .filter-type img {
              width: 80px;
              height: 80px;
              border-radius: 50%;
              display: block;
              margin: 0 auto;
          }
      }
}

;

@media only screen and (min-width: 1025px) and (max-width: 1728px) {
    .filter-container {
        .slide {
            height: 50vh;
            width: 41%;
            display: flex;
            justify-content: center;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .filter-container {
        .slide {
            height: 50vh;
            width: 68%;
            display: flex;
            justify-content: center;
        }
    }
}