.search-container {

  .btn-search {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 50%;
    margin-left: 26.3em;
    width: 40px;
    height: 40px;
    background-color: #05A1A1;

  }
  .search-span {
    position: absolute;
    margin-top: 8px;
  }

  .search-icon {
    margin-right: 5px;
  }
}

@media only screen and (max-width: 480px) {
  .search-container {
    .btn-search {
      display: none;
    }

    .search-icon {

      font-size: 16px;
    }


  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search-container {
    margin-top: -5px;

    .btn-search {
      width: 320px;
      height: 30px;
    }
  }
}