.search-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme);
  padding: 0.25rem;
  border-radius: 50%;
  color: var(--white);
}

.search-container {
  .btn-search {
    width: 480px;
  }
}

@media only screen and (max-width: 480px) {
  .search-container {
    .btn-search {
   display: none;
    }

    .search-icon {

      font-size: 16px;
    }


  }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .search-container {
    margin-top: -5px;

    .btn-search {
      width: 320px;
      height: 30px;
    }
  }
}